* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
  color: #333; 
}

.main-layout {
  display: flex;
}

/* Style cho sidebar */

.sidebar {
  min-height: 100vh;
  width: 14rem !important;
  background-color: #4e73df;
  color: #fff;
}


.logo{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
  z-index: 1;
}



.nav {
  width: 100%;
  flex-direction: column;
}


.nav .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav .nav-item {
  margin: 10px 0;
  padding: 0;
}

.nav .nav-link {

  display: block;
  padding: 15px 20px;
  color: #ffffffcc;
  text-decoration: none;
  font-size: 14px;
  background: #4e73df;
  transition: background-color 0.3s ease;
}

.nav .nav-link:hover  {
  color: #fff;
  background-color: #5e7edf;
}

.content-wrapper {
  width: 100%;
}

.content {
  /* width: 100%; */
  padding: 0 40px;
}

footer {
  padding: 2rem 0;
  flex-shrink: 0;
  background: #fff;
}

.footer {
  margin-bottom: auto;
  margin-top: auto;
}

.copyright {
  line-height: 1;
  font-size: .8rem;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
}

.topbar {
  height: 4.375rem;
  margin-bottom: 1.5rem !important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
  background-color: #fff !important;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.topbar-search {
  width: 25rem;
  margin-left: 1rem !important;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.input-group input {
  font-size: .85rem;
  height: auto;
  border-radius: 20px;
  border: 0;
}

.search-button {
  margin-left: -1px;
  display: flex;
}


/* nav {
  background-color: #007bff; 
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* 
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
} */

/* nav a:hover {
  color: #ffd700; 
}

nav a:last-child {
  margin-right: 0;
}

div {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.page-content {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.image{
  max-width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    margin-bottom: 10px;
  }

  nav a:last-child {
    margin-bottom: 0;
  }
} */
